<div class="allcontacts">
  {{#each contacts}}
    {{#each this}}
    <div class="contactboxes">
  <p>{{this.company}}</p>
    <p></p>
  <p>{{this.last_name}}</p>
  </div>
  {{/each}}
  {{/each}}
</div>
