$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.jumbotron {
  text-align: center;
}

.reminder {
  font-size: 20px;
  text-align: center;
}
